<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Putevi za klijenta -->
		<add key="DatasetRoot" value="D:\virtualizacija_procesa_pr19_pr121\Client\Dataset"/>
		<add key="LogPath" value=".\\client-import.log"/>

		<!-- Pragovi analitike za servis -->
		<add key="T_threshold" value="5"/>
		<add key="R_min" value="0.001"/>
		<add key="R_max" value="1000"/>
		<add key="Range_min" value="0.001"/>
		<add key="Range_max" value="1000"/>

		<!-- Gde će servis da upisuje podatke -->
		<add key="DataRoot" value="Data"/>
	</appSettings>

	<system.serviceModel>
		<!-- Klijentski deo -->
		<client>
			<!-- MORA da se zove EisIngest i contract MORA biti Common.IEisIngestService -->
			<endpoint name="EisIngest"
					  address="net.tcp://localhost:4000/EisIngest"
					  binding="netTcpBinding"
					  bindingConfiguration="tcpLarge"
					  contract="Common.IEisIngestService"/>
		</client>

		<!-- Binding konfiguracija (koristi se i za host i za klijenta) -->
		<bindings>
			<netTcpBinding>
				<binding name="tcpLarge"
						 transferMode="Streamed"
						 maxReceivedMessageSize="10485760"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
</configuration>
